<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="TestDoubleModels"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://TestDoubleModels/testdoublemodels.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/TestDoubleModels/css/default.css">
         </property>
         <property
               name="appName"
               value="TestDoubleModels">
         </property>
      </product>
   </extension>

</plugin>
