<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated adressbook -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="adressbook.presentation.AdressbookModelWizardID"
            name="%_UI_AdressbookModelWizard_label"
            class="adressbook.presentation.AdressbookModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdressbookModelFile.gif">
         <description>%_UI_AdressbookModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated adressbook -->
      <editor
            id="adressbook.presentation.AdressbookEditorID"
            name="%_UI_AdressbookEditor_label"
            icon="icons/full/obj16/AdressbookModelFile.gif"
            extensions="adressbook"
            class="adressbook.presentation.AdressbookEditor"
            contributorClass="adressbook.presentation.AdressbookActionBarContributor">
      </editor>
   </extension>

</plugin>
